.board {
    background-color: green;
    display: inline-grid;
}

.row {
    display: inline-flex;
}

.cell {
    padding: 0.3em;
    position: relative;
    display: inline;
    height: 11em;
}

.card {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.3em;
    font-size: 1em;
    width: 4em;
    height: 4.5em;
    border: 0.1em solid black;
    position: relative;
}

.red {
    color: red;
}

.black {
    color: black;
}

.bottom-right {
    transform: rotate(180deg);
    position: relative;
    top: 2.25em;
}

.dragging {
    opacity: 0.5;
}

.drop-target {
    opacity: 0.5;
}

.selected {
    opacity: 0.5;
}

.center-card-back {
    position: absolute;
    top: 1.75em;
    left: 2em;
}

.stock {
    background-color: blue;
    width: 4em;
    height: 4.4em;
    color: white;
}
